<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>bobcat</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
  </head>

  <body>
    <div ng-controller="TodoCtrlr">
      <h1>Todos</h1>
      <ul>
        <li ng-repeat="todo in todos">
          {{todo.title}}
          <button ng-click="deleteTodo(todo)">Delete</button>
        </li>
      </ul>
      <form ng-submit='addTodo()'>
        <input ng-model='newTodo.title'>
        <input type='submit' value='Add'>
      </form>
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
