<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>bobcat</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />

  </head>

  <body>
    <div ng-controller="MapCtrlr">
      <leaflet defaults="defaults" markers="markers" layers="layers" lf-center="center" event-broadcast="events" width="100%" height="625px"></leaflet>

      <section class="legend">
        <div class="icon docking-station">
          <img class="legend-icon" src="/assets/img/icons/greenIcon.png">
          <span class="vertical-container"><p class="legend-description"> bikes available</p></span>
        </div>
        <div class="icon docking-station">
          <img class="legend-icon" src="/assets/img/icons/orangeIcon.png">
          <span class="vertical-container"><p class="legend-description"> few bikes available</p></span>
        </div>
        <div class="icon docking-station">
          <img class="legend-icon" src="/assets/img/icons/redIcon.png">
          <span class="vertical-container"><p class="legend-description"> no bikes available</p></span>
        </div>
        <div class="icon cluster">
          <img class="legend-icon" src="/assets/img/legend/cluster.png">
          <span class="vertical-container"><p class="legend-description"> docks in this area</p></span>
        </div>
      </section>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/leaflet.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/angular-simple-logger.js"></script>
    <script src="/js/angular-leaflet-directive.js"></script>

  </body>
</html>
