body {
  font-family: Monospace;
}

.legend {
  position: absolute;
  top: 17px;
  left: 50px;
  height: 200px;
  width: 200px;
  border: 2px solid #2C84CB;
  opacity: 50%;
  background: white;
  opacity: 0.9;
}

img {
  vertical-align: middle;
  opacity: 1;
}

.icon {
  display: inline-block;
  opacity: 1;
  height: 25%;
}

.icon .cluster {
}

.legend-icon {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: 2px solid white;
}

.legend-description {
  display: inline-block;
  margin: 0px;
  width: 140px;
}

.vertical-container {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

